<!DOCTYPE html>
<html>
  <head>
    <title>Replication</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Replication</h1>
    <div><a href="http://localhost:3001/_utils" target="_blank">View Fauxton Utils</a></div>
    <div>
        <form action="/replicate" method="POST" >
        <div>Click the below to start an on-demand replication...</div>
        <input type="submit" value="Start..">
        </form>
    </div>
    
        <div>
        <form action="/replicate/add" method="POST" >
        <div>Click the button below to create a test document...</div>
        <input type="submit" value="Create">
        </form>
    </div>
  </body>
</html>
